@tailwind base;
@tailwind components;
@tailwind utilities;

/* Glitch font type */
#kunstner_h1 {
  font-family: "Rubik Glitch", cursive;
}

#kunstig_h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

p {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

/* Sektionen omkring fotografen, med billedet af fotografen i baggrunden */
