@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
  }
}
@layer components {
  .wobble-hor-bottom:hover {
    -webkit-animation: wobble-hor-bottom 0.8s both;
    animation: wobble-hor-bottom 0.8s both;
  }
}
/* Glitch font type */
#kunstner_h1 {
  font-family: "Rubik Glitch", cursive;
}

#kunstig_h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

span.glitch-font {
  font-family: "Rubik Glitch", cursive;
}

/* Sektionen omkring fotografen, med billedet af fotografen i baggrunden */
.billedet_af_fotografen img {
  width: 30%;
  height: auto;
}
/* Sektionen om bogen lidt i fem */
#parent_element_bog_sektion {
  position: relative;
  top: 0;
  left: 0;
}

.image1_baggrund_bog {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.billedet_af_bogen {
  position: absolute;
  top: 30%;
}

/* Hurtige facts */

.hurtige_facts_overskrift {
  color: #8c6464;
}

#hurtige_facts {
  background-color: #ede6e0;
  height: 100vh;
}

.hurtige_facts_li {
  color: #8c6464;
  z-index: 3;
}

.millioner {
  top: calc(-25%);
  right: calc(20%);
  font-family: termina, sans-serif;
  font-weight: 700;
  font-style: normal;
  opacity: 0.8;
  color: #d9c3b0;
  color: #8c6464;
  z-index: 4;
}

#type_animation_millioner {
  top: calc(-30%);
  right: calc(-5%);
  font-family: termina, sans-serif;
  font-weight: 700;
  font-style: normal;
  opacity: 0.8;
  color: #d9c3b0;
  z-index: 1;
}

#type_animation_sekund {
  top: calc(-30%);
  right: calc(0%);
  font-family: termina, sans-serif;
  font-weight: 700;
  font-style: normal;
  opacity: 0.8;
  color: #d9c3b0;
  z-index: 1;
}

#type_animation_2_gange {
  top: calc(-40%);
  right: calc(0%);
  font-family: termina, sans-serif;
  font-weight: 700;
  font-style: normal;
  opacity: 0.8;
  color: #d9c3b0;
  z-index: 1;
}

@media (min-width: 850px) {
  .li_container {
    width: 40vw;
  }
  .hurtige_facts_overskrift {
    color: #8c6464;
    align-self: flex-start;
  }
  .million_div {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }
  .sekund_div {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .to_gange_div {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }
}

/*en ny begyndelse*/

video {
  width: 100%;
  height: auto;
}

.en_ny_begyndelse h2 {
  font-family: "Rubik Glitch", cursive;
  top: calc(42%);
  left: calc(15%);
}
@media (min-width: 500px) {
  .en_ny_begyndelse h2 {
    font-size: 3rem;
    line-height: normal;
    top: calc(30%);
    left: calc(22%);
  }
}

@media (min-width: 560px) {
  .en_ny_begyndelse h2 {
    font-size: 3rem;
    line-height: normal;
    top: calc(38%);
    left: calc(15%);
  }
}

@media (min-width: 850px) {
  .en_ny_begyndelse h2 {
    font-size: 5rem;
    line-height: normal;
    top: calc(32%);
    left: calc(27%);
  }
}

@media (min-width: 1000px) {
  .en_ny_begyndelse h2 {
    font-size: 5rem;
    line-height: normal;
    top: calc(38%);
    left: calc(15%);
  }
}

@media (min-width: 1200px) {
  .en_ny_begyndelse h2 {
    font-size: 5rem;
    line-height: normal;
    top: calc(38%);
    left: calc(22%);
  }
}

@media (min-width: 1500px) {
  .en_ny_begyndelse h2 {
    font-size: 6rem;
    line-height: normal;
    top: calc(38%);
    left: calc(22%);
  }
}

.text-flicker-in-glow {
  -webkit-animation: text-flicker-in-glow 4s linear both;
  animation: text-flicker-in-glow 4s linear both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-13 14:43:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-flicker-in-glow
 * ----------------------------------------
 */
@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}

/*men pierre*/
.img_gul_streg {
  bottom: calc(-300%);
  right: calc(10%);
}

/* CSS styling til andet quote på den sidste del af hjemmesiden */
#parent_element_quote2 {
  position: relative;
  top: 0;
  left: 0;
}

.baggrund_sort_hvid {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.quote_nummer_2 {
  position: absolute;
  top: 50%;
}

/* Styling til køb knappen*/
#køb_knap {
  font-family: "Rubik Glitch";
  font-size: 3rem;
}

/* footer styling */
#kontakt_h {
  font-family: "Rubik Glitch";
}

#credits_h {
  font-family: "Rubik Glitch";
}
